<header>
  <nav>
    <a href="/slogans">59</a>
    <a href="/home">Lojong Slogans</a>
    <a href="/profile">Profile</a>
  </nav>
</header>

<div>
  <h2 class="text-center">{{ vm.calendarTitle }}</h2>

  <div class="row">

    <div class="col-md-6 text-center">
      <div class="btn-group">

        <button
          class="btn btn-primary"
          mwl-date-modifier
          date="vm.viewDate"
          decrement="vm.calendarView"
          ng-click="vm.cellIsOpen = false">
          Previous
        </button>
        <button
          class="btn btn-default"
          mwl-date-modifier
          date="vm.viewDate"
          set-to-today
          ng-click="vm.cellIsOpen = false">
          Today
        </button>
        <button
          class="btn btn-primary"
          mwl-date-modifier
          date="vm.viewDate"
          increment="vm.calendarView"
          ng-click="vm.cellIsOpen = false">
          Next
        </button>
      </div>
    </div>

    <br class="visible-xs visible-sm">

    <div class="col-md-6 text-center">
      <div class="btn-group">
        <label class="btn btn-primary" ng-model="vm.calendarView" uib-btn-radio="'year'" ng-click="vm.cellIsOpen = false">Year</label>
        <label class="btn btn-primary" ng-model="vm.calendarView" uib-btn-radio="'month'" ng-click="vm.cellIsOpen = false">Month</label>
        <label class="btn btn-primary" ng-model="vm.calendarView" uib-btn-radio="'week'" ng-click="vm.cellIsOpen = false">Week</label>
        <label class="btn btn-primary" ng-model="vm.calendarView" uib-btn-radio="'day'" ng-click="vm.cellIsOpen = false">Day</label>
      </div>
    </div>

  </div>

  <br>

  <mwl-calendar
    events="vm.events"
    view="vm.calendarView"
    view-title="vm.calendarTitle"
    view-date="vm.viewDate"
    on-event-click="vm.eventClicked(calendarEvent)"
    on-event-times-changed="vm.eventTimesChanged(calendarEvent); calendarEvent.startsAt = calendarNewEventStart; calendarEvent.endsAt = calendarNewEventEnd"
    cell-is-open="vm.cellIsOpen"
    day-view-start="06:00"
    day-view-end="22:59"
    day-view-split="30"
    cell-modifier="vm.modifyCell(calendarCell)"
    cell-auto-open-disabled="true"
    on-timespan-click="vm.timespanClicked(calendarDate, calendarCell)">
  </mwl-calendar>

  <div>
    <h3 ng-model="vm.date">{{vm.date | date}}</h3>
    <h4 ng-model="vm.id">{{vm.id}}</h4>
    <p>{{vm.slogan}}</p>
    <p type="submit" ng-click="vm.getComments(vm.date, vm.id)">{{vm.getCom}}</p>
      <div ng-repeat="comment in vm.comments | orderBy:'-date':reverse">
        <div>
          <h5>{{comment.date | date}}</h5>
          <p>Comment: {{comment.comment}}</p>
          <span><button type="submit" ng-click="home.deleteComment(home.comment.text)" ><span class="glyphicon glyphicon-trash"></span></button></span>
        </div>
      </div>
      <p type="submit" ng-click="vm.getQuestions(vm.date, vm.id)">{{vm.getQues}}</p>
        <div ng-repeat="question in vm.questions | orderBy:'-date':reverse">
          <div>
            <h5>{{question.date | date}}</h5>
            <p>Question: {{question.question}}</p>
            <span><button type="submit" ng-click="home.deleteQuestion(home.question.text)" ><span class="glyphicon glyphicon-trash"></span></button></span>
          </div
        </div>
  <footer>
    <nav>
      <a href="/calendar">Calendar</a>
      <a href="/comments">Comments</a>
      <a href="/questions">Questions</a>
    </nav>
  </footer>
