<header>
  <nav id="header">
    <a href="/home">Lojong</a>
  </nav>
</header>
<div id="calendar">
  <h2 class="text-center">{{ vm.calendarTitle }}</h2>

  <div class="row">

    <div class="col-md-12 text-center">
      <div class="btn-group">

        <button
          class="btn btn-default"
          mwl-date-modifier
          date="vm.viewDate"
          decrement="vm.calendarView"
          ng-click="vm.cellIsOpen = false">
          Previous
        </button>
        <button
          class="btn btn-default"
          id="selected"
          mwl-date-modifier
          date="vm.viewDate"
          set-to-today
          ng-click="vm.cellIsOpen = false">
          Today
        </button>
        <button
          class="btn btn-default"
          mwl-date-modifier
          date="vm.viewDate"
          increment="vm.calendarView"
          ng-click="vm.cellIsOpen = false">
          Next
        </button>
      </div>
    </div>

    <br class="visible-xs visible-sm">


  </div>

  <br>

  <mwl-calendar
    id="calendarBox"
    events="vm.events"
    view="vm.calendarView"
    view-title="vm.calendarTitle"
    view-date="vm.viewDate"
    on-event-click="vm.eventClicked(calendarEvent)"
    cell-is-open="vm.cellIsOpen"
    cell-modifier="vm.modifyCell(calendarCell)"
    cell-auto-open-disabled="true"
    on-timespan-click="vm.timespanClicked(calendarDate, calendarCell)">
  </mwl-calendar>
<!--  -->
</div>
<footer>
  <nav id="footer">
    <a id="slogansButton" href="/slogans"><span class="sloganCircle">59</span><br /><div class="headerText">Slogans</div></a>
    <a id="calendarButton" href="/calendar" class="highlighted"><span class="glyphicon glyphicon-calendar"></span><br /><div class="headerText">{{vm.date | date:'shortDate'}}</div></a>
    <a id="profileButton"  href="/profile"><span class="glyphicon glyphicon-user"></span><br /><div class="headerText">{{vm.user[0].name}}</div></a>

  </nav>
</footer>
