<header>
  <nav>
    <a href="/slogans">59</a>
    <a href="/home">Lojong Slogans</a>
    <a href="/profile">Profile ({{vm.user[0].username}})</a>
  </nav>
</header>

<div>
  <h2 class="text-center">{{ vm.calendarTitle }}</h2>

  <div class="row">

    <div class="col-md-6 text-center">
      <div class="btn-group">

        <button
          class="btn btn-primary"
          mwl-date-modifier
          date="vm.viewDate"
          decrement="vm.calendarView"
          ng-click="vm.cellIsOpen = false">
          Previous
        </button>
        <button
          class="btn btn-default"
          mwl-date-modifier
          date="vm.viewDate"
          set-to-today
          ng-click="vm.cellIsOpen = false">
          Today
        </button>
        <button
          class="btn btn-primary"
          mwl-date-modifier
          date="vm.viewDate"
          increment="vm.calendarView"
          ng-click="vm.cellIsOpen = false">
          Next
        </button>
      </div>
    </div>

    <br class="visible-xs visible-sm">

    <div class="col-md-6 text-center">
      <div class="btn-group">
        <label class="btn btn-primary" ng-model="vm.calendarView" uib-btn-radio="'year'" ng-click="vm.cellIsOpen = false">Year</label>
        <label class="btn btn-primary" ng-model="vm.calendarView" uib-btn-radio="'month'" ng-click="vm.cellIsOpen = false">Month</label>
        <label class="btn btn-primary" ng-model="vm.calendarView" uib-btn-radio="'week'" ng-click="vm.cellIsOpen = false">Week</label>
        <label class="btn btn-primary" ng-model="vm.calendarView" uib-btn-radio="'day'" ng-click="vm.cellIsOpen = false">Day</label>
      </div>
    </div>

  </div>

  <br>

  <mwl-calendar
    events="vm.events"
    view="vm.calendarView"
    view-title="vm.calendarTitle"
    view-date="vm.viewDate"
    on-event-click="vm.eventClicked(calendarEvent)"
    on-event-times-changed="vm.eventTimesChanged(calendarEvent); calendarEvent.startsAt = calendarNewEventStart; calendarEvent.endsAt = calendarNewEventEnd"
    cell-is-open="vm.cellIsOpen"
    day-view-start="06:00"
    day-view-end="22:59"
    day-view-split="30"
    cell-modifier="vm.modifyCell(calendarCell)"
    cell-auto-open-disabled="true"
    on-timespan-click="vm.timespanClicked(calendarDate, calendarCell)">
  </mwl-calendar>

  <div>
    <h3 ng-model="vm.date">{{vm.date | date}}</h3>
    <h4 ng-model="vm.id">{{vm.id}}</h4>
    <p>{{vm.slogan}}</p>
    <button ng-click="reveal = !reveal">Comments and Questions</button>
      <div ng-show="reveal">
      <h4>Comments:</h4>
      <div ng-repeat="comment in vm.getCom | orderBy:'-date':reverse">
          <h5>{{comment.date | date}}</h5>
          <form>
            <input type="text" ng-model="comment.comment"></input>
            <button type="submit" ng-click="vm.changeComment(comment.comment, comment.id)">Update</button>
          </form>
          <span><button type="submit" ng-click="vm.deleteComment(comment.id)" ><span class="glyphicon glyphicon-trash"></span></button></span>
      </div>
      <form>
        <input type="text" ng-model="vm.newComment" placeholder="New comment"></input>
        <button type="submit" ng-click="vm.postComment(vm.newComment, vm.id)" ><span class="glyphicon glyphicon-plus"></span></button>
      </form>
        <h4>Quesitons:</h4>
        <div ng-repeat="question in vm.getQues | orderBy:'-date':reverse">
            <h5>{{question.date | date}}</h5>
            <form>
              <input type="text" ng-model="question.question"></input>
              <button type="submit" ng-click="vm.changeQuestion(question.question, question.id)">Update</button>
            </form>
            <span><button type="submit" ng-click="vm.deleteQuestion(question.id)" ><span class="glyphicon glyphicon-trash"></span></button></span>
        </div>
        <form>
          <input type="text" ng-model="vm.newQuestion" placeholder="New question"></input>
          <button type="submit" ng-click="vm.postQuestion(vm.newQuestion, vm.id)" ><span class="glyphicon glyphicon-plus"></span></button>
        </form>
      </div>
  <footer>
    <nav>
      <a href="/calendar">Calendar</a>
      <a href="/comments">Comments</a>
      <a href="/questions">Questions</a>
    </nav>
  </footer>
