<header>
  <nav id="header">
    <a href="/home">Lojong</a>
  </nav>
</header>
<div id="comments">
<div id="nav" class="row">
  <div class="col-xs-2 col-lg-2">
      <button class="form-control"><a id="highlighted" href="/comments">Comments</a></button>
  </div>
  <div class="col-xs-8 col-lg-8">
<button class="form-control"><a style="text-align: center" href="/slogans">back to slogans</a></button>
  </div>
  <div class="col-xs-2 col-lg-2">
    <button class="form-control"><a href="/questions">Questions</a></button>
  </div>
</div>
<div id="list">
<h1>Comments</h1>
<div ng-repeat="comment in comments.comment | orderBy:'-date':reverse">
  <div>
    <h4>{{comment.date | date}}</h4>
    <p>Slogan: {{comment.slogan_id}}</p>
    <p>{{comment.slogan}}</p>
    <div class="row">
      <form>
        <div class="col-xs-10 col-lg-10">
          <textarea type="text" id="small" class="form-control" ng-model="comment.comment"></textarea>
        </div>
        <div class="col-xs-1 col-lg-1">
          <button type="submit" class="btn btn-default pull-right" ng-click="comments.changeComment(comment.comment, comment.id)"><span class="glyphicon glyphicon-pencil"></span><br />edit</button>
        </div>
        <div class="col-xs-1 col-lg-1">
          <button type="submit" class="btn btn-default" ng-click="comments.deleteComment(comment.id)" ><span class="glyphicon glyphicon-trash"></span><br />delete</button>
        </div>
      </form>
    </div>
  </div>
</div>
</div>
</div>
<footer>
  <nav id="footer">
    <a id="slogansButton" href="/slogans" class="highlighted"><span class="sloganCircle">59</span><br /><div class="headerText">Slogans</div></a>
    <a id="calendarButton" href="/calendar"><span class="glyphicon glyphicon-calendar"></span><br /><div class="headerText">{{comments.date | date:'shortDate'}}</div></a>
    <a id="profileButton"  href="/profile"><span class="glyphicon glyphicon-user"></span><br /><div class="headerText">{{comments.user[0].name}}</div></a>

  </nav>
</footer>
