
  <div id="home">
    <h2 ng-model="home.id" class="sloganCircle">{{home.id}}</h2>
    <h1>{{home.point}}</h1>
    <h3>{{home.slogan}}</h3>
    <h4>{{home.extra}}</h4>

  <div>
    <h1>Comments</h1>
    <div ng-repeat="comment in home.comment | orderBy:'-date':reverse track by $index">
      <div>
        <h4>{{comment.date | date}}</h4>
        <form>
          <input type="text" ng-model="comment.comment"></input>
          <button type="submit" ng-click="home.changeComment(comment.comment, comment.id)"><span class="glyphicon glyphicon-pencil"></span> </button>
        </form>
        <span><button type="submit" ng-click="home.deleteComment(comment.id)" ><span class="glyphicon glyphicon-trash"></span></button></span>
      </div>
    </div>
    <form>
      <input type="text" ng-model="home.newComment" placeholder="New comment"></input>
      <button type="submit" ng-click="home.postComment(home.newComment, home.id)" ><span class="glyphicon glyphicon-plus"></span></button>
    </form>
    <h1>Questions</h1>
    <div ng-repeat="question in home.question | orderBy:'-date':reverse track by $index">
      <div>
        <h4>{{question.date | date}}</h4>
        <form>
          <input type="text" ng-model="question.question"></input>
          <button type="submit" ng-click="home.changeQuestion(question.question, question.id)"><span class="glyphicon glyphicon-pencil"></span> </button>
        </form>
        <span><button type="submit" ng-click="home.deleteQuestion(question.id)" ><span class="glyphicon glyphicon-trash"></span></button></span>
      </div>
    </div>
    <form>
      <input type="text" ng-model="home.newQuestion" placeholder="New question"></input>
      <button type="submit" ng-click="home.postQuestion(home.newQuestion, home.id)" ><span class="glyphicon glyphicon-plus"></span></button>
    </form>
  </div>
    </div>
