<header>
  <nav>
    <a href="/slogans">59</a>
    <a href="/home">Lojong Slogans</a>
    <a href="/profile">Profile</a>
  </nav>
</header>
<h2 ng-click="reveal = !reveal">{{home.date | date:fullDate}}</h2>
<main>
  <div ng-hide="reveal">
    <h1>Slogans</h1>
    <h2 ng-model="home.id">Slogan: {{home.id}}</h2>
    <p>{{home.point}}</p>
    <p>{{home.slogan}}</p>
    <p>{{home.extra}}</p>
  </div>
  <div ng-show="reveal">
    <h1>Comments</h1>
    <div ng-repeat="comment in home.comment | orderBy:'-date':reverse track by $index">
      <div>
        <h4>{{comment.date | date}}</h4>
        <p>Slogan: {{home.id}}</p>
        <p>{{home.slogan}}</p>
        <form>
          <input type="text" ng-model="comment.comment"></input>
          <button type="submit" ng-click="home.changeComment(comment.comment, comment.id)">Update</button>
        </form>
        <span><button type="submit" ng-click="home.deleteComment(comment.id)" ><span class="glyphicon glyphicon-trash"></span></button></span>
      </div>
    </div>
    <form>
      <input type="text" ng-model="home.newComment" placeholder="New comment"></input>
      <button type="submit" ng-click="home.postComment(home.newComment, home.id)" ><span class="glyphicon glyphicon-plus"></span></button>
    </form>
    <h1>Questions</h1>
    <div ng-repeat="question in home.question | orderBy:'-date':reverse track by $index">
      <div>
        <h4>{{question.date | date}}</h4>
        <p>Slogan: {{home.id}}</p>
        <p>{{home.slogan}}</p>
        <form>
          <input type="text" ng-model="question.question"></input>
          <button type="submit" ng-click="home.changeQuestion(question.question, question.id)">Update</button>
        </form>
        <span><button type="submit" ng-click="home.deleteQuestion(question.id)" ><span class="glyphicon glyphicon-trash"></span></button></span>
      </div>
    </div>
    <form>
      <input type="text" ng-model="home.newQuestion" placeholder="New question"></input>
      <button type="submit" ng-click="home.postQuestion(home.newQuestion, home.id)" ><span class="glyphicon glyphicon-plus"></span></button>
    </form>
  </div>
</main>
<footer>
  <nav>
    <a href="/calendar">Calendar</a>
    <a href="/comments">Comments</a>
    <a href="/questions">Questions</a>
  </nav>
</footer>
