<div id="newuser">
  <div id="welcome" ng-hide="form">
    <h2>Hello, {{new.user[0].name}}</h2>
    <h1>Welcome to the 59 Lojong slogans.</h1>
    <h2 class="sloganCircle">59</h2>
    <button class="btn btn-default" ng-click="form = !form">Get Started</button>
  </div>

<div id="hideForm" ng-show="form">
  <h2>Please select your preferences:</h2>
<form class="form-group">
    <div class="form-group row">
      <label  for="name" class="col-xs-3 col-form-label">What is your name?</label>
      <div class="col-xs-9">
        <input class="form-control" ng-model="new.name" />
          </div>
    </div>
    <div class="form-group row">
        <label for="frequency" class="col-xs-3 col-form-label">Would you like your daily slogan sent to your phone each day?</label>
        <div class="col-xs-9">
        <select class="form-control" id="frequency" ng-model="new.messages" class="form-control" ng-change="new.selectSMS(new.messages)">
          <option value="true">Yes</option>
          <option value="false">No</option>
        </select>
        </div>
          </div>
          <div id="SMS">
        <div class="form-group row" >
          <label  for="name" class="col-xs-3 col-form-label">What is your number?</label>
          <div class="col-xs-9">
            <input class="form-control" ng-model="new.number" placeholder="Enter like this: 1001001000"/>
              </div>
        </div>
        <div class="form-group row">
          <label for="frequency" class="col-xs-3 col-form-label">At what time?</label>
          <div uib-timepicker class="col-xs-9" ng-model="new.time" ng-change="new.changed(new.time)" hour-step="1" minute-step="1" show-meridian="['AM', 'PM']"></div>
          </div>
            </div>
      <div class="form-group row">
          <label for="order" class="col-xs-3 col-form-label">Would you like to receive the slogans randomly?</label>
          <div class="col-xs-9">
          <select class="form-control" id="order" ng-model="new.order" class="form-control">
            <option value="true">Yes</option>
            <option value="false">No</option>
          </select>
          </div>
    </div>
    <div class="navbar navbar-default navbar-fixed-bottom">
    <button type="submit" id="submit" class="btn btn-default center-block" ng-click="new.sendUserInfo(new.name, new.messages, new.time, new.number, new.order)">submit</button>
    </div>
  </form>
  </div>
  <div id="showButton" ng-hide="one">
    <div id="navHeader">
    <div id="buttons" class="navbar navbar-default navbar-fixed-top">
    <button class="btn btn-default navbar-left"><a href="/home">Skip</a></button>
    <button type="submit" ng-click="new.logout()" class="btn btn-default navbar-right">Logout</button>
    </div>
      </div>
    <div class="afterNav">
    <h2>Thank you! Your preferences have been saved.</h2>
      <div id="tutorial">
        <button class="btn btn-default" ng-click="one = !one" >See how it works</button>
      </div>
      </div>
  </div>

<div ng-hide="two">
  <div id="one" ng-show="one">
    <div id="next" ng-click="two = !two">
      <button class="btn btn-default">Next</button>
    </div>
    <div id="last" ng-click="one = !one">
      <button class="btn btn-default">Last</button>
    </div>
    <div id="navHeader">
    <div id="buttons" class="navbar navbar-default navbar-fixed-top">
    <button class="btn btn-default navbar-left"><a href="/home">Skip</a></button>
    <button type="submit" ng-click="new.logout()" class="btn btn-default navbar-right">Logout</button>
    </div>
  </div>
    <div class="afterNav">
    <h1>Homepage</h1>
          <h2>See your slogan of the day</h2>
        <img src="images/home.jpg" alt="View of home screen" />
        <div>
          <h3>1. Add and view comments and questions: </h3>
          <div id="options" class="row">
            <div class="col-xs-3">
            </div>
            <div class="col-xs-2">
              <h3 id="slideRight" class="sloganCircle"><span class="glyphicon glyphicon-list"></span></h3>
            </div>
            <div class="col-xs-2">
              <h3 id="move" class="sloganCircle">+</h3>
            </div>
            <div class="col-xs-2">
              <h3 id="slideLeft" class="sloganCircle">?</h3>
            </div>
          </div>
        </div>
        <div>
          <h3>To come back home: </h3>
          <h2 class="menuOne">Lojong</h2>
        </div>
        </div>
  </div>
  </div>

<div ng-hide="three">
  <div id="two" ng-show="two">
    <div id="next" ng-click="three = !three">
      <button class="btn btn-default">Next</button>
    </div>
    <div id="last" ng-click="two = !two">
      <button class="btn btn-default">Last</button>
    </div>
    <div id="navHeader">
    <div id="buttons" class="navbar navbar-default navbar-fixed-top">
    <button class="btn btn-default navbar-left"><a href="/home">Skip</a></button>
    <button type="submit" ng-click="new.logout()" class="btn btn-default navbar-right">Logout</button>
    </div>
  </div>
    <div class="afterNav">
    <h1>List of slogans</h1>

        <h2>View all 59 slogans</h2>
        <img src="images/slogans.jpg" alt="View of slogans screen" />

        <div>
          <h3>1. Add and view comments and questions</h3>
          <h3>2. Search all Slogans</h3>
        </div>

        <div>
          <h3>To come back to slogans:</h3>
          <div id="tutorialFooter">
          <h2 class="menu" id="slogansButton"><span class="sloganCircle">59</span><br /><div class="headerText" id="slogansButton">Slogans</div></h2>
          <h2  id="calendarButton"><span class="glyphicon glyphicon-calendar"></span><br /><div class="headerText">12/12/12</div></h2>
          <h2  id="profileButton"><span class="glyphicon glyphicon-user"></span><br /><div class="headerText">newuser</div></a>
          </div>
        </div>
    </div>
  </div>
  </div>

  <div ng-hide="four">
    <div id="three" ng-show="three">
      <div id="next" ng-click="four = !four">
        <button class="btn btn-default">Next</button>
      </div>
      <div id="last" ng-click="three = !three">
        <button class="btn btn-default">Last</button>
      </div>
      <div id="navHeader">
      <div id="buttons" class="navbar navbar-default navbar-fixed-top">
      <button class="btn btn-default navbar-left"><a href="/home">Skip</a></button>
      <button type="submit" ng-click="new.logout()" class="btn btn-default navbar-right">Logout</button>
      </div>
    </div>
      <div class="afterNav">
      <h1>Calendar</h1>
          <h2>Track your slogans</h2>
          <img src="images/calendar.jpg" alt="View of calendar screen" />

          <div>
            <h3>1. View your daily slogan</h3>
            <h3>2. Click to expand into comments and questions</h3>
          </div>

            <h3>To come back to calendar:</h3>
            <div id="tutorialFooter">
            <h2  id="slogansButton"><span class="sloganCircle">59</span><br /><div class="headerText" id="slogansButton">Slogans</div></h2>
            <h2  class="menu" id="calendarButton"><span class="glyphicon glyphicon-calendar"></span><br /><div class="headerText">12/12/12</div></h2>
            <h2  id="profileButton"><span class="glyphicon glyphicon-user"></span><br /><div class="headerText">newuser</div></a>
            </div>
      </div>
    </div>
    </div>

    <div ng-hide="five">
      <div id="four" ng-show="four">
        <div id="next" ng-click="five = !five">
          <button class="btn btn-default">Next</button>
        </div>
        <div id="last" ng-click="four = !four">
          <button class="btn btn-default">Last</button>
        </div>
        <div id="navHeader">
        <div id="buttons" class="navbar navbar-default navbar-fixed-top">
        <button class="btn btn-default navbar-left"><a href="/home">Skip</a></button>
        <button type="submit" ng-click="new.logout()" class="btn btn-default navbar-right">Logout</button>
        </div>
      </div>
        <div class="afterNav">
        <h1>Profile</h1>
        <img src="images/profile.jpg" alt="View of profile screen" />

            <div>
              <h3>1. Change your settings</h3>
              <h3>2. Learn more</h3>
              <h3>3. Get help</h3>
            </div>

              <h3>To come back to profile:</h3>
              <div id="tutorialFooter">
              <h2   id="slogansButton"><span class="sloganCircle">59</span><br /><div class="headerText" id="slogansButton">Slogans</div></h2>
              <h2  id="calendarButton"><span class="glyphicon glyphicon-calendar"></span><br /><div class="headerText">12/12/12</div></h2>
              <h2  class="menu" id="profileButton"><span class="glyphicon glyphicon-user"></span><br /><div class="headerText">newuser</div></a>
              </div>
          </div>
      </div>
      </div>


        <div id="five" ng-show="five">
          <div id="navHeader">
          <div id="buttons" class="navbar navbar-default navbar-fixed-top">
          <button class="btn btn-default navbar-left"><a href="/home">See your first Lojong Slogan</a></button>
          <button type="submit" ng-click="new.logout()" class="btn btn-default navbar-right">Logout</button>
          </div>
        </div>
          <h1>You're ready to get started!</h1>
        </div>


</div>
