<div id="slogans">


  <div class="row" id="nav">
    <div class="col-xs-2 col-lg-2">
      <button class="form-control"><a href="/comments">Comments</a></button>
    </div>
    <div id="input" class="col-xs-7 col-lg-7">
      <input type="text" class="form-control" placeholder="Search" ng-model="slogans.search">
    </div>
    <div id="button" class="col-xs-1 col-lg-1">
      <button type="submit" class="btn btn-default" id="submit" ng-click="slogans.searchSlogans(slogans.search)">Submit</button>
    </div>
    <div class="col-xs-2 col-lg-2">
      <button class="form-control"><a href="/questions">Questions</a></button>
    </div>
  </div>
<div id="list">
  <div id="center">
<p>{{slogans.noresults}}</p>
<a ng-click="slogans.fullList()">{{slogans.return}}</a>
</div>
  <div class= "sloganGroup" ng-repeat="slogan in slogans.slogans | orderBy: 'id'">
        <h2 class="sloganCircle">{{slogan.id}}</h2>
        <div class="sloganInfo">
          <p>{{slogan.point}}</p>
          <p>{{slogan.slogan}}</p>
          <p>{{slogan.extra}}</p>
      <button ng-click="reveal = !reveal" ng-hide="reveal" class="btn btn-default"><span class="glyphicon glyphicon-chevron-down"></span></button>
      <button ng-click="reveal = !reveal" ng-show="reveal" class="btn btn-default"><span class="glyphicon glyphicon-chevron-up"></span></button>
      <div id="cqList" ng-show="reveal">
      <div id="commentsList">
      <h4>Comments:</h4>
      <div ng-repeat="comment in slogan.comments | orderBy:'-date':reverse">
          <h5>{{comment.date | date}}</h5>
          <div class="row">
            <form>
              <div class="col-xs-10 col-lg-10">
                <textarea type="text" id="small" class="form-control" ng-model="comment.comment"></textarea>
              </div>
              <div class="col-xs-1 col-lg-1">
                <button type="submit" class="btn btn-default" ng-click="slogans.changeComment(comment.comment, comment.id)"><span class="glyphicon glyphicon-pencil"></span><br />edit</button>
              </div>
              <div class="col-xs-1 col-lg-1">
                <button type="submit" class="btn btn-default" ng-click="slogans.deleteComment(comment.id)" ><span class="glyphicon glyphicon-trash"></span><br />delete</button>
              </div>
            </form>
          </div>
      </div>
      <div class="row">
        <form>
          <div class="col-xs-11 col-lg-11">
            <textarea type="text" id="large" class="form-control" ng-model="slogans.newComment" placeholder="New comment"></textarea>
          </div>
          <div class="col-xs-1 col-lg-1">
            <button type="submit" class="btn btn-default" ng-click="slogans.postComment(slogans.newComment, slogan.id)" ><span class="glyphicon glyphicon-plus"></span><br />Add</button>
          </div>
        </form>
      </div>
    </div>
      <div id="questionsList">
      <h4>Questions:</h4>
      <div ng-repeat="question in slogan.questions | orderBy:'-date':reverse">
        <h5>{{question.date | date}}</h5>
        <div class="row">
          <form>
          <div class="col-xs-10 col-lg-10">
            <textarea type="text" id="small" class="form-control" ng-model="question.question"></textarea>
          </div>
          <div class="col-xs-1 col-lg-1">
            <button type="submit" class="btn btn-default" ng-click="slogans.changeQuestion(question.question, question.id)"><span class="glyphicon glyphicon-pencil"></span><br />edit</button>
          </div>
          <div class="col-xs-1 col-lg-1">
            <button type="submit" class="btn btn-default" ng-click="slogans.deleteQuestion(question.id)" ><span class="glyphicon glyphicon-trash"></span><br />delete</button>
          </div>
          </form>
        </div>
      </div>
      <div class="row">
        <form>
          <div class="col-xs-11 col-lg-11">
            <textarea id="large" type="text" class="form-control" ng-model="slogans.newQuestion" placeholder="New question"></textarea>
          </div>
          <div class="col-xs-1 col-lg-1">
            <button type="submit" class="btn btn-default" ng-click="slogans.postQuestion(slogans.newQuestion, slogan.id)" ><span class="glyphicon glyphicon-plus"></span><br />Add</button>
          </div>
        </form>
      </div>
    </div>
    </div>
  </div>
  </div>

    </div>
    </div>
