<header>
  <nav>
    <a href="/slogans">59</a>
    <a href="/home">Lojong Slogans</a>
    <a href="/profile">Profile ({{slogans.user[0].username}})</a>
  </nav>
</header>
<h1>list of slogans</h1>
<ul>
  <div ng-repeat="slogan in slogans.slogans track by $index">
    <div>
      <h2>Slogan: {{slogan.id}}</h2>
      <p>{{slogan.point}}</p>
      <p>{{slogan.slogan}}</p>
      <p>{{slogan.extra}}</p>
      <button ng-click="reveal = !reveal">Comments and Questions</button>
      <div ng-show="reveal">
      <h4>Comments:</h4>
      <div ng-repeat="comment in slogan.comments | orderBy:'-date':reverse">
          <h5>{{comment.date | date}}</h5>
          <p>{{comment.comment}}</p>
          <button type="submit" ng-click="slogans.deleteComment(comment.id)" ><span class="glyphicon glyphicon-trash"></span></button>
      </div>
      <form>
        <input type="text" ng-model="slogans.newComment" placeholder="New comment"></input>
        <button type="submit" ng-click="slogans.postComment(slogans.newComment, slogan.id)" ><span class="glyphicon glyphicon-plus"></span></button>
      </form>
      <h4>Questions:</h4>
      <div ng-repeat="question in slogan.questions | orderBy:'-date':reverse">
        <h5>{{question.date | date}}</h5>
        <p>{{question.question}}</p>
        <button type="submit" ng-click="slogans.deleteQuestion(question.id)" ><span class="glyphicon glyphicon-trash"></span></button>
      </div>
      <form>
        <input type="text" ng-model="slogans.newQuestion" placeholder="New question"></input>
        <button type="submit" ng-click="slogans.postQuestion(slogans.newQuestion, slogan.id)" ><span class="glyphicon glyphicon-plus"></span></button>
      </form>
    </div>
</ul>
<footer>
  <nav>
    <a href="/calendar">Calendar</a>
    <a href="/comments">Comments</a>
    <a href="/questions">Questions</a>
  </nav>
</footer>
