header {
  position: fixed;
  top: 0;
  height: 50px;
  width: 100%;
  background-color: white;
  z-index: 1;
  font-size: 32px;
  text-align: center;
  border-bottom: 2px solid black; }
  header a {
    color: black;
    display: inline-block; }
  header a:hover, header a:active, header a:focus {
    color: #D4AF37;
    text-decoration: none; }
  header nav {
    width: 100%;
    border-bottom: 2px solid #D4AF37; }

.sloganCircle {
  height: 150px;
  width: 150px;
  border-radius: 50%;
  height: 75px;
  width: 75px;
  background-color: black;
  border: 2px solid #D4AF37;
  color: white;
  text-align: center;
  padding-top: 7px; }

#showButton {
  display: none; }

.container {
  margin: 0 !important;
  padding: 0 !important;
  width: 100% !important;
  font-family: 'Signika', sans-serif; }

main {
  margin: 90px 40px 140px 40px; }

#home h2, #slogans h2 {
  font-size: 50px; }

h2.sloganCircle {
  margin: 10px auto; }

#home {
  text-align: center; }

#login form {
  border: 2px solid black;
  padding: 40px 0; }
  #login form a {
    color: black;
    margin: auto; }
  #login form a:hover, #login form a:active {
    cursor: pointer;
    color: #D4AF37;
    text-decoration: none; }

#home #questionsList, #home #commentsList {
  text-align: left;
  padding: 15px;
  margin: 10px 0; }
#home #cqList {
  text-align: left; }
#home .row {
  margin: 10px 0; }
  #home .row div {
    padding: 0; }
#home button {
  height: 50px;
  width: 50px; }
#home textarea {
  height: 50px;
  resize: none; }
#home textarea#small {
  border: none;
  box-shadow: none; }
#home textarea#small:focus {
  border: 1px solid #ccc;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075); }

#center {
  margin: 10px auto;
  width: 600px;
  text-align: center; }
  #center a {
    color: black;
    margin: auto; }
  #center a:hover, #center a:active {
    cursor: pointer;
    color: #D4AF37;
    text-decoration: none; }

#slogans .sloganGroup {
  margin: 15px;
  text-align: center;
  border-bottom: 2px solid #D4AF37; }
#slogans .sloganGroup:last-child {
  border-bottom: none; }
#slogans .sloganInfo {
  margin-bottom: 10px; }
#slogans #nav {
  height: 50px; }
  #slogans #nav button, #slogans #nav input {
    height: 50px; }
  #slogans #nav #input, #slogans #nav #button {
    padding: 0; }
  #slogans #nav a {
    color: black;
    margin: auto; }
  #slogans #nav a:hover, #slogans #nav a:active {
    color: #D4AF37;
    text-decoration: none; }
#slogans #list h4 {
  color: #D4AF37; }
#slogans #list #questionsList, #slogans #list #commentsList {
  border: 2px solid black;
  padding: 15px;
  margin: 10px 0; }
#slogans #list #cqList {
  text-align: left; }
#slogans #list .row {
  margin: 10px 0; }
  #slogans #list .row div {
    padding: 0; }
#slogans #list button {
  height: 50px;
  width: 50px; }
#slogans #list textarea {
  height: 50px;
  resize: none; }
#slogans #list textarea#small {
  border: none;
  box-shadow: none; }
#slogans #list textarea#small:focus {
  border: 1px solid #ccc;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075); }

#slogans .row, #comments .row, #questions .row {
  text-align: center; }

#questions #nav, #comments #nav {
  height: 50px; }
  #questions #nav button, #questions #nav input, #comments #nav button, #comments #nav input {
    height: 50px; }
  #questions #nav #highlighted, #comments #nav #highlighted {
    color: #D4AF37 !important; }
  #questions #nav #input, #questions #nav #button, #comments #nav #input, #comments #nav #button {
    padding: 0; }
  #questions #nav a, #comments #nav a {
    color: black;
    margin: auto; }
  #questions #nav a:hover, #questions #nav a:active, #comments #nav a:hover, #comments #nav a:active {
    color: #D4AF37;
    text-decoration: none; }
#questions #list .row, #comments #list .row {
  margin: 10px 0; }
  #questions #list .row div, #comments #list .row div {
    padding: 0; }
#questions #list button, #comments #list button {
  height: 50px;
  width: 50px; }
#questions #list textarea, #comments #list textarea {
  height: 50px;
  resize: none; }
#questions #list textarea#small, #comments #list textarea#small {
  border: none;
  box-shadow: none; }
#questions #list textarea#small:focus, #comments #list textarea#small:focus {
  border: 1px solid #ccc;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075); }

#calendar .btn {
  outline: none; }
  #calendar .btn #selected {
    color: #D4AF37; }
#calendar a:active, #calendar a:hover {
  text-decoration: none;
  outline: none; }
#calendar a#calBox {
  color: #D4AF37; }
#calendar #modal .btn {
  outline: none; }

nav#footer {
  margin-left: 0;
  padding: 15px; }

footer {
  position: fixed;
  bottom: 0;
  height: 100px;
  width: 100%;
  background-color: white;
  font-size: 32px;
  text-align: center;
  border-top: 2px solid black; }
  footer nav {
    width: 100%;
    border-top: 2px solid #D4AF37;
    margin: 2px; }
  footer .headerText {
    font-size: 15px; }
  footer span.sloganCircle {
    padding: 0 4px; }
  footer a {
    color: black;
    display: inline-block; }
  footer a:hover, footer a:active, footer a:focus {
    color: #D4AF37;
    text-decoration: none; }
  footer a#slogansButton {
    float: left; }
  footer a#calendarButton {
    float: center; }
  footer a#profileButton {
    float: right; }

/*# sourceMappingURL=styles.css.map */
