@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translateY(100%); }
  100% {
    opacity: 1;
    transform: none; } }
@keyframes fadeInDown {
  0% {
    opacity: 0;
    transform: translateY(-100%); }
  100% {
    opacity: 1;
    transform: none; } }
@keyframes fadeInRight {
  0% {
    opacity: 0;
    transform: translateX(100%); }
  100% {
    opacity: 1;
    transform: none; } }
@keyframes fadeInLeft {
  0% {
    opacity: 0;
    transform: translateX(-100%); }
  100% {
    opacity: 1;
    transform: none; } }
@keyframes getBigLeft {
  0% {
    opacity: 0;
    transform: translateX(-200%) scale(0.1); }
  50% {
    opacity: 0; }
  100% {
    opacity: 1;
    transform: scale(1); } }
@keyframes getBigRight {
  0% {
    opacity: 0;
    transform: translateX(200%) scale(0.1); }
  50% {
    opacity: 0; }
  100% {
    opacity: 1;
    transform: scale(1); } }
@keyframes spin {
  0% {
    transform: rotate(0deg) scale(1); }
  100% {
    transform: rotate(360deg) scale(0.8); } }
@keyframes blink {
  50% {
    color: black; } }
header {
  position: fixed;
  top: 0;
  height: 60px;
  width: 100%;
  background-color: white;
  z-index: 1;
  font-size: 32px;
  text-align: center;
  border-bottom: 2px solid black; }
  header a {
    color: #D4AF37;
    display: inline-block; }
  header a:hover, header a:active, header a:focus {
    color: black;
    text-decoration: none; }
  header nav {
    width: 100%;
    border-bottom: 4px solid #D4AF37;
    background-color: darkred;
    padding: 3px; }

.highlighted {
  color: black;
  transform: scale(1.2); }

.sloganCircle {
  height: 150px;
  width: 150px;
  border-radius: 50%;
  height: 75px;
  width: 75px;
  background-color: black;
  border: 2px solid #D4AF37;
  color: white;
  text-align: center;
  padding-top: 7px; }

#showButton {
  display: none; }

.container {
  margin: 0 !important;
  padding: 0 !important;
  width: 100% !important;
  font-family: 'Signika', sans-serif; }

#home h2, #slogans h2 {
  font-size: 50px; }

h2.sloganCircle {
  margin: 10px auto; }

#home {
  text-align: center; }
  #home .glyphicon.glyphicon-list {
    font-size: 70%; }

#home, #comments, #questions, #slogans, #calendar, #profile {
  margin: 90px 40px 140px 40px; }

#home button.btn.btn-default, #comments button.btn.btn-default, #questions button.btn.btn-default, #slogans button.btn.btn-default {
  font-size: 10px; }
#home .glyphicon, #comments .glyphicon, #questions .glyphicon, #slogans .glyphicon {
  font-size: 20px; }
#home button.form-control, #comments button.form-control, #questions button.form-control, #slogans button.form-control {
  border: none;
  box-shadow: none; }

#login h1, #registration h1 {
  text-align: center;
  color: #D4AF37; }
#login #border, #registration #border {
  border: 2px solid #D4AF37;
  height: 160px;
  padding-top: 15px; }
#login form, #registration form {
  border: 2px solid black;
  height: 185px;
  padding: 10px; }
  #login form a, #registration form a {
    color: black;
    margin: auto; }
  #login form a:hover, #login form a:active, #registration form a:hover, #registration form a:active {
    cursor: pointer;
    color: #D4AF37;
    text-decoration: none; }

#welcome {
  text-align: center; }
  #welcome h2 {
    font-size: 400%; }
  #welcome h1 {
    font-size: 500%;
    margin-bottom: 10%; }
  #welcome button {
    position: fixed;
    bottom: 5%;
    font-size: 200%;
    transform: translateX(-80px); }
  #welcome .sloganCircle {
    height: 150px;
    width: 150px;
    border-radius: 50%;
    height: 150px;
    width: 150px;
    background-color: black;
    border: 2px solid #D4AF37;
    color: white;
    text-align: center;
    padding-top: 15px;
    font-size: 100px; }

#hideForm h2 {
  font-size: 400%;
  text-align: center; }
#hideForm .navbar-default {
  background-color: white !important;
  border: none;
  bottom: 10%; }
#hideForm #submit {
  font-size: 200%; }

#showButton .navbar-default {
  width: 100% !important;
  background-color: darkred !important;
  border: none;
  border-bottom: 4px solid #D4AF37;
  height: 60px; }
#showButton h2 {
  margin-top: 120px;
  font-size: 400%;
  text-align: center; }
#showButton #buttons button {
  margin: 10px;
  font-size: 100%; }
#showButton #buttons a, #showButton #buttons a:hover, #showButton #buttons a:active {
  cursor: pointer;
  color: black;
  text-decoration: none; }
#showButton #tutorial {
  width: 100%;
  margin-top: 100px; }
  #showButton #tutorial button {
    font-size: 200%;
    margin: auto;
    display: block; }

#one, #two, #three, #four, #five {
  width: 100%;
  margin: auto;
  text-align: center; }
  #one .navbar-default, #two .navbar-default, #three .navbar-default, #four .navbar-default, #five .navbar-default {
    width: 100% !important;
    background-color: darkred !important;
    border: none;
    border-bottom: 4px solid #D4AF37;
    height: 60px; }
    #one .navbar-default button, #two .navbar-default button, #three .navbar-default button, #four .navbar-default button, #five .navbar-default button {
      font-size: 100% !important;
      margin: 10px !important; }
  #one h1, #two h1, #three h1, #four h1, #five h1 {
    font-size: 400% !important;
    margin-top: 100px; }
  #one #next, #two #next, #three #next, #four #next, #five #next {
    float: right;
    margin: 0; }
  #one #last, #two #last, #three #last, #four #last, #five #last {
    float: left;
    margin: 0; }
  #one img, #two img, #three img, #four img, #five img {
    width: 40%; }
  #one #options .sloganCircle, #two #options .sloganCircle, #three #options .sloganCircle, #four #options .sloganCircle, #five #options .sloganCircle {
    height: 100px;
    width: 100px;
    border-radius: 50%;
    height: 100px;
    width: 100px;
    background-color: black;
    border: 2px solid #D4AF37;
    color: white;
    padding-top: 20px;
    font-size: 50px;
    margin: 15px auto; }
  #one #options #move, #two #options #move, #three #options #move, #four #options #move, #five #options #move {
    animation: spin 2s linear infinite; }
  #one #options #slideLeft, #two #options #slideLeft, #three #options #slideLeft, #four #options #slideLeft, #five #options #slideLeft {
    animation: getBigLeft 2s linear infinite; }
  #one #options #slideRight, #two #options #slideRight, #three #options #slideRight, #four #options #slideRight, #five #options #slideRight {
    animation: getBigRight 2s linear infinite; }
  #one #buttons, #two #buttons, #three #buttons, #four #buttons, #five #buttons {
    text-align: center;
    width: 100%; }
    #one #buttons a, #one #buttons a:hover, #one #buttons a:active, #two #buttons a, #two #buttons a:hover, #two #buttons a:active, #three #buttons a, #three #buttons a:hover, #three #buttons a:active, #four #buttons a, #four #buttons a:hover, #four #buttons a:active, #five #buttons a, #five #buttons a:hover, #five #buttons a:active {
      cursor: pointer;
      color: black;
      text-decoration: none; }
  #one button, #two button, #three button, #four button, #five button {
    font-size: 200%;
    text-align: center;
    margin: 20px; }
  #one #tutorialFooter, #two #tutorialFooter, #three #tutorialFooter, #four #tutorialFooter, #five #tutorialFooter {
    padding: 0 10px;
    margin: 20px;
    background-color: darkred; }
    #one #tutorialFooter h2, #two #tutorialFooter h2, #three #tutorialFooter h2, #four #tutorialFooter h2, #five #tutorialFooter h2 {
      margin-top: none;
      color: #D4AF37;
      display: inline-block; }
    #one #tutorialFooter h2:first-child, #two #tutorialFooter h2:first-child, #three #tutorialFooter h2:first-child, #four #tutorialFooter h2:first-child, #five #tutorialFooter h2:first-child {
      margin-top: 20px; }
    #one #tutorialFooter .menu, #two #tutorialFooter .menu, #three #tutorialFooter .menu, #four #tutorialFooter .menu, #five #tutorialFooter .menu {
      animation: blink 2s linear infinite; }
    #one #tutorialFooter #slogansButton, #two #tutorialFooter #slogansButton, #three #tutorialFooter #slogansButton, #four #tutorialFooter #slogansButton, #five #tutorialFooter #slogansButton {
      float: left; }
    #one #tutorialFooter #calendarButton, #two #tutorialFooter #calendarButton, #three #tutorialFooter #calendarButton, #four #tutorialFooter #calendarButton, #five #tutorialFooter #calendarButton {
      float: center; }
    #one #tutorialFooter #profileButton, #two #tutorialFooter #profileButton, #three #tutorialFooter #profileButton, #four #tutorialFooter #profileButton, #five #tutorialFooter #profileButton {
      float: right; }
  #one .menuOne, #two .menuOne, #three .menuOne, #four .menuOne, #five .menuOne {
    animation: blink 2s linear infinite;
    background-color: darkred;
    padding: 10px;
    color: #D4AF37; }
  #one .headerText, #two .headerText, #three .headerText, #four .headerText, #five .headerText {
    font-size: 15px; }
  #one span.sloganCircle, #two span.sloganCircle, #three span.sloganCircle, #four span.sloganCircle, #five span.sloganCircle {
    padding: 0 4px !important; }
  #one #slogansButton, #two #slogansButton, #three #slogansButton, #four #slogansButton, #five #slogansButton {
    margin-top: 4px; }

#home {
  animation: fadeInDown 0.25s ease-in both; }
  #home h1 {
    top: 50%;
    font-size: 300%; }
    @media (max-width: 800px) {
      #home h1 {
        font-size: 500%; } }
  #home #questionsList, #home #commentsList {
    text-align: left;
    padding: 15px;
    margin: 10px 0; }
  #home #cqList {
    text-align: left; }
  #home .row {
    margin: 10px 0; }
    #home .row div {
      padding: 8px; }
  #home button {
    height: 50px;
    width: 50px; }
  #home textarea {
    height: 50px;
    resize: none; }
  #home textarea#small {
    border: none;
    box-shadow: none; }
  #home textarea#small:focus {
    border: 1px solid #ccc;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075); }
  #home #homeBody {
    margin-bottom: 220px; }
  #home #options {
    width: 100%;
    position: fixed;
    bottom: 100px;
    transform: translateX(-40px);
    margin: 0;
    padding-bottom: 10px; }
    #home #options .move {
      animation: spin 0.5s ease-in both; }
    #home #options .slideLeft {
      animation: getBigLeft 0.5s ease-in both; }
    #home #options .slideRight {
      animation: getBigRight 0.5s ease-in both; }
    #home #options .moveBack {
      animation: spin 0.5s ease-in both; }

#profile {
  animation: fadeInUp 0.25s ease-in both;
  margin: 90px 0 140px 0; }
  #profile #logout {
    margin-right: 20px; }
  #profile h1 {
    font-size: 350%;
    margin-left: 40px; }
  #profile h2 {
    font-size: 300%;
    border-bottom: 1px solid gray;
    padding: 0 20px 30px 20px; }
    #profile h2 span.glyphicon {
      font-size: 75%; }
    #profile h2 button {
      float: right;
      margin-top: 10px; }
  #profile form, #profile #info {
    margin: 10px 40px 10px 40px; }
  #profile #one h2, #profile #two h2, #profile #three h2, #profile #four h2, #profile #five h2 {
    border: none; }

#SMS {
  display: none; }

#profile #logout, #newuser #logout {
  float: right; }
#profile a, #newuser a {
  color: #D4AF37;
  margin: auto; }

#newuser {
  margin: 50px; }
  #newuser a {
    color: black;
    margin: auto; }
  #newuser a:hover, #newuser a:active {
    cursor: pointer;
    color: #D4AF37;
    text-decoration: none; }

#center {
  margin: 10px auto;
  width: 600px;
  text-align: center; }
  #center a {
    color: black;
    margin: auto; }
  #center a:hover, #center a:active {
    cursor: pointer;
    color: #D4AF37;
    text-decoration: none; }

#slogans {
  animation: fadeInUp 0.25s ease-in both; }
  #slogans #largerSlogan {
    text-transform: uppercase;
    font-size: 20px; }
  #slogans #submit {
    font-size: 14px; }
  #slogans .sloganGroup {
    margin: 15px;
    text-align: center;
    border-bottom: 4px solid #D4AF37; }
  #slogans .sloganGroup:last-child {
    border-bottom: none; }
  #slogans .sloganInfo {
    margin-bottom: 10px; }
  #slogans #nav {
    height: 50px; }
    #slogans #nav button, #slogans #nav input {
      height: 50px; }
    #slogans #nav #input, #slogans #nav #button {
      padding: 0; }
    #slogans #nav a {
      color: black;
      margin: auto; }
    #slogans #nav a:hover, #slogans #nav a:active {
      color: #D4AF37;
      text-decoration: none; }
  #slogans #list h4 {
    color: #D4AF37; }
  #slogans #list #questionsList, #slogans #list #commentsList {
    border: 2px solid black;
    border-radius: 5px;
    padding: 15px;
    margin: 10px 0; }
  #slogans #list #cqList {
    text-align: left; }
  #slogans #list .row {
    margin: 10px 0; }
    #slogans #list .row div {
      padding: 0; }
  #slogans #list button {
    height: 50px;
    width: 50px; }
  #slogans #list textarea {
    height: 50px;
    resize: none; }
  #slogans #list textarea#small {
    border: none;
    box-shadow: none; }
  #slogans #list textarea#small:focus {
    border: 1px solid #ccc;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075); }

#slogans .row, #comments .row, #questions .row {
  text-align: center; }

#comments {
  animation: fadeInLeft 0.25s ease-in both; }

#questions {
  animation: fadeInRight 0.25s ease-in both; }

#questions #nav, #comments #nav {
  height: 50px; }
  #questions #nav button, #questions #nav input, #comments #nav button, #comments #nav input {
    height: 50px; }
  #questions #nav #highlighted, #comments #nav #highlighted {
    color: #D4AF37 !important; }
  #questions #nav #input, #questions #nav #button, #comments #nav #input, #comments #nav #button {
    padding: 0; }
  #questions #nav a, #comments #nav a {
    color: black;
    margin: auto; }
  #questions #nav a:hover, #questions #nav a:active, #comments #nav a:hover, #comments #nav a:active {
    color: #D4AF37;
    text-decoration: none; }
#questions #list .row, #comments #list .row {
  margin: 10px 0; }
  #questions #list .row div, #comments #list .row div {
    padding: 0; }
#questions #list button, #comments #list button {
  height: 50px;
  width: 50px; }
#questions #list textarea, #comments #list textarea {
  height: 50px;
  resize: none; }
#questions #list textarea#small, #comments #list textarea#small {
  border: none;
  box-shadow: none; }
#questions #list textarea#small:focus, #comments #list textarea#small:focus {
  border: 1px solid #ccc;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075); }

#calendar {
  animation: fadeInUp 0.25s ease-in both; }
  #calendar #cal-week-box {
    display: none; }
  #calendar .btn {
    outline: none; }
    #calendar .btn #selected {
      color: #D4AF37; }
  #calendar a:active, #calendar a:hover {
    text-decoration: none;
    outline: none; }
  #calendar a#calBox {
    color: #D4AF37; }
  #calendar #modal .btn {
    outline: none; }

nav#footer {
  margin-left: 0;
  padding: 15px; }

footer {
  position: fixed;
  bottom: 0;
  height: 100px;
  width: 100%;
  background-color: white;
  font-size: 32px;
  text-align: center;
  border-top: 2px solid black; }
  footer nav {
    width: 100%;
    border-top: 4px solid #D4AF37;
    margin: 4px;
    background-color: darkred; }
  footer .headerText {
    font-size: 15px; }
  footer span.sloganCircle {
    padding: 0 4px; }
  footer a {
    color: #D4AF37;
    display: inline-block; }
  footer a:hover, footer a:active, footer a:focus {
    color: black;
    text-decoration: none; }
  footer a#slogansButton {
    float: left; }
  footer a#calendarButton {
    float: center;
    transform: translateX(8%); }
  footer a#profileButton {
    float: right; }

/*# sourceMappingURL=styles.css.map */
